.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(245, 245, 245);

  .logo-icon {
    margin-left: 20px;
    .logo-image {
      width: 80px;
      height: 50px;
    }
  }

  .search-bar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

    .search-icon {
      width: 30px;
      height: 30px;
      color: #000;
    }

    .search-form {
      display: flex;

      .input-search {
        width: 250px;
        margin-left: 10px;
        height: 23px;
        border: none;
        padding: 5px;
        outline: 2px solid #424242;
        border-radius: 2px;

        &:focus {
          outline: 2px solid #9988fc;
        }
      }
    }
  }
}
